.rl{
  text-decoration: none;
  color: #686868;
}

.pjfont{
  color: #5183f5;
  text-decoration: none;
  border-bottom:2px solid #e2eafd;
  transition: 0.2s;
  padding: 0 2px;
}

.pjfont:hover{
  color: #5183f5;
  text-decoration: none;
  border-bottom:2px solid #8eb9fd;
  transition: 0.2s;
  background-color: #e2eafd;
}

.rl:hover{
  color: #517598;
}

.pl25{
  padding-left: 25px;
}

body{
  font-family: Optima-Regular, Optima, PingFangSC-light, PingFangTC-light, 'PingFang SC', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.aca-a{
  text-decoration: none;
  transition: 0.2s;
  color: black;
}

.aca-a:hover{
  color: #e97419;
}


.aca-ao{
  text-decoration: none;
  transition: 0.2s;
  color: #006699;
  cursor: pointer;
  padding: 3px 5px;
}


